
.filterContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    position: relative;
    top: 0px;
    width: 100%;

}

   

.parkFilter, .attractionsFilter, .eateriesFilter{
    color:rgb(23, 23, 61);
    border-radius:25%;
    
}
h4{
    font-weight: lighter;
    color:black;
    margin:0;
    text-transform: uppercase;
}

.selectIcon img {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}
.selectIcon {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.filterDivider {
    border-top: 2px solid lightgray;
}

.showBtn {
    
}