h1{
    font-weight: lighter;
    line-height: 4rem;
    margin-top: 15px;
    color: white;
    font-size: 80px;
    margin-left: 20px;
     /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18  */
}
.navPic img{
    height:80px;
    width:170px;
    background-color: white;
}

.navPic {
    background-color: white;
}

.navBar{
    text-align: center;
    background-image:url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/romantic-hot-tropical-night-panorama-view-james-bo-insogna.jpg');
    background-size: 100vw; 
    color: rgb(254, 247, 223);
    letter-spacing: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 300px;
    object-fit: fill;

}
