.selectedItineraryWeather{
    border:1px solid black;
    display: flex;
    flex-direction: row;
}

.weather_component {
    display: flex;
    flex-direction: column;
    border: 3px solid lightskyblue;
    margin: 10px;
}

.weather__data {
    display: flex;
    flex-direction: column;
}

.weather__data_low {
    text-align: center;
}

.weather__data_high {
    text-align: center
}